.container {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    position: relative;
  }
  
  .table-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f5;
  }
  
  .th {
    background-color: #0b468a;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid white;
    text-align: left;
    padding: 10px;
  }
  
  .td {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
  }
  
  .tr {
    transition: all 0.5s ease-in-out;
  }
  
  .current-row {
    background-color: lightgreen;
  }
  
  .scrolling-content {
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: scrollUp 10s linear infinite;
  }
  
  .scrolling-row {
    width: 100%;
  }
  
  .legend {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 20px;
    gap: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .current {
    background-color: lightgreen;
  }
  
  .absent {
    background-color: yellow;
  }
  
  @keyframes scrollUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  