.custom-clock-container {
  width: 224px;
  background-color:white;
  color: #111;
  border-radius: 12px;
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.custom-clock-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.custom-mode-switch button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 50%;
  height: 29px;
  width: 30px;
}
.custom-mode-switch button:hover {
  background-color: #616161;
}

.custom-time-display {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.custom-period-toggle span {
  background: none;
  border: none;
  color: #aaa;
  margin-left: 2px;
  font-size: 16px;
  cursor: pointer;
  padding: 4px;
}

.custom-period-toggle .custom-active {
  color: #616161;
  font-weight: bold;
}

.custom-clock-face {
  position: relative;
  width: 190px;
  height: 190px;
  margin: 5px auto;
  display: flex;
  background-color: #5f5b5b;
  border-radius: 50%;
}

/* .custom-clock-number {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: background 0.2s;
  z-index: 4;
} */

.custom-clock-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transform: translate(-53%, -53%);
  transition: background 0.2s;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-clock-number:hover {
  background-color: #616161;
}

.custom-clock-number.custom-active {
  background-color: #5f5b5b;
}

.custom-clock-center-dot {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 12px;
  height: 12px;
  background-color: #5f5b5b;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.custom-clock-needle {
  position: absolute;
  left: 100px;
  top: 30px;
  width: 2px;
  height: 69px;
  background-color: #5f5b5b;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
  z-index: 2;
}

.custom-clock-actions {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10px; */
}


.custom-clock-number.custom-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  font-size: 0;
  z-index: 5;
  background-color: none !important;
}

.custom-clock-number.custom-label {
  width: 27px;
  height: 27px;
  font-size: 12px;
}

.custom-time-input {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 160px;
  cursor: pointer;
}

.custom-picker-popup {
  position: absolute;
  z-index: 999;
  margin-top: 8px;
}
